@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* body * {
  outline: 1px solid pink;
} */

body {
  font-family: "Open Sans", sans-serif;
}

.booklist {
  display: grid;
  max-width: 1170px;
  margin: 0 auto;
  gap: 30px;
}

@media screen and (min-width: 390px) {
  .booklist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 570px) {
  .booklist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 870px) {
  .booklist {
    grid-template-columns: repeat(4, 1fr);
  }
}

img {
  width: 100%;
  height: auto;
  padding: 10px;
}

.title {
  font-weight: 700;
}
.author {
  text-decoration: underline;
  font-weight: 300;
}
.year {
  font-weight: 300;
}

.description-container {
  color: #999999;
  margin: 20px;
}
